<!--<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">-->

<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex>
      <mat-card>
        <mat-card-header class="">
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button color="primary" (click)="goBack()">BACK</button>
          <button _ngcontent-c21="" color="primary" mat-icon-button="" class="mat-icon-button mat-primary">
            <span class="mat-button-wrapper">
              <mat-icon _ngcontent-c21="" aria-label="Example icon-button with a heart icon" class="mat-icon material-icons" role="img" aria-hidden="true">favorite</mat-icon>
            </span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </button>
          <button mat-button class="mat-button mat-primary" color="primary">SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button color="primary" [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Comments</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list cols="1">
            <mat-list-item *ngFor="let comment of dish.comments" class="mat-toolbar mat-primary">
              <h4 matLine>"{{comment.comment}}"</h4>
              <p matLine><i>{{comment.rating}} Stars</i></p>
              <p matLine>-- <b>{{comment.author}}</b> ({{ comment.date | date }})</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
</div>